body{
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    width: 100%;
}

.login-form h1{
    font-weight: 500;
    font-size: 27px;
}

.login-form img{
    width: 72px;
    height: 72px;
}

.form{
    max-width: 330px;
}

.form input[type=email], .form input[type=password]{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 5px;
    margin: 0;
}

.form input[type=email]{
    border-radius: 5px 5px 0 0;
}

.form input[type=password]{
    border-radius: 0 0 5px 5px;
}

.form .rememberme{
    padding: 10px;
}

.form .rememberme label{
    display: flex;
    width: 100%;
    font-size: 14px;
    justify-content: center;
}

.form button{
    margin-top: 1rem;
    background-color: #007bff;
    border: none;
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
}

.form button:hover{
    background-color: #0069d9;
}

.login-form .copyright{
    margin-top: 2rem;
    color: #6c757d;
}