body{
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}
.image, .form{
    flex: 50%;
}
.image .bg-ig{
    position: relative;
    background-image: url('https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png');
    width: 450px;
    height: 590px;
}
.image .bg-ig img{
    position: absolute;
    right: 43px;
    top: 28px;
}
.form{
    max-width: 350px;
    width: 100%;
}
.form form{
    position: relative;
    background-color: white;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}
.form form input{
    padding: 7px;
}
.form form input:first-child{
    margin-bottom: 5px;
}
.form form .withLine{
    position: relative;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
.form form .withLine p{
    position: relative;
    background-color: white;
    display: inline;
    z-index: 2;
    padding: 0 5px;
}
.form form .withLine::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.form form button{
    background-color: #0095f6;
    color: white;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
    border: none;
}
.form form input, .form form button{
    width: 100%;
    box-sizing: border-box;
}
.form a{
    text-decoration: none;
}
.form .signup{
    margin-top: 10px;
    text-align: center;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    background-color: white;
}

.form .get-app .img-store{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form .get-app .img-store img{
    height: 35px;
}

.form .get-app{
    text-align: center;
}