body{
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* column image */
.col-image{
    display: flex;
}
.col-image .bg-ig{
    position: relative;
    background: url('https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png') no-repeat;
    background-size: 100%;
    width: 400px;
    height: 500px;
}
.col-image .bg-ig img{
    position: absolute;
    right: 52px;
    top: 24px;
    width: 213px;
}

/* column form */
.col-form{
    display: flex;
    justify-content: center;
}
.col-form .form-container{
    max-width: 320px;
    width: 100%;
    height: 100%;
}
.col-form form{
    position: relative;
    background-color: white;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}
.col-form form input{
    padding: 7px;
}
.col-form form input:first-child{
    margin-bottom: 5px;
}
.col-form form .withLine{
    position: relative;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
.col-form form .withLine p{
    position: relative;
    background-color: white;
    display: inline;
    z-index: 2;
    padding: 0 5px;
}
.col-form form .withLine::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.col-form form button{
    background-color: #0095f6;
    color: white;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
    border: none;
}
.col-form form input, .col-form form button{
    width: 100%;
    box-sizing: border-box;
}
.col-form a{
    text-decoration: none;
}
.col-form .signup{
    margin-top: 10px;
    text-align: center;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    background-color: white;
}

.col-form .get-app .img-store{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.col-form .get-app .img-store img{
    height: 35px;
}

.col-form .get-app{
    text-align: center;
}